/* CoverModal.scss */

.cover_modal {
  @apply fixed top-0 left-0 w-full h-full flex justify-center items-center bg-black bg-opacity-50 z-50;

  &_content {
    @apply w-5/12 rounded-md text-white;
    background-color: #0a0a0a;
  }
  &_header {
    @apply flex items-center px-12 py-6 justify-between mb-6 pb-6;
    border-bottom: 1px solid var(--border-1, #222);

    &_title {
      @apply text-2xl font-bold;
    }
    &_close {
      @apply text-4xl p-0 bg-transparent border-none text-gray-500 cursor-pointer outline-none;
    }
  }
  &_body {
    @apply flex flex-col mt-2 p-12;
    &_outcometext {
      @apply flex justify-center text-center text-xl font-semibold mb-8 h-8;
      &_won {
        color: #0dcd8a;
      }
      &_lost {
        @apply text-red-600;
      }
    }
    &_dicecontainer {
      @apply flex justify-center items-center py-12 px-10 rounded-lg;
      background: rgb(197, 222, 37);
      margin: auto;
      &_won {
        background-color: #0dcd8a;
      }
      &_lost {
        background: rgb(222, 37, 37);
      }
      &_2x3 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px;
        align-items: center;
      }

      &_3x2 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 40px;
        align-items: center;
      }

      &_1x2 {
        display: flex;
        justify-content: center;
        gap: 40px;
        align-items: center;
      }
    }
    &_textcontainer {
      @apply flex justify-center items-center gap-3;

      &_text {
        @apply font-medium text-lg text-gray-400;
      }
      &_value {
        @apply font-black;
        &_won {
          color: #0dcd8a;
        }
        &_lost {
          @apply text-red-600;
        }
      }

      &_margin {
        @apply mt-8;
      }
    }
    &_submitcontainer {
      @apply flex justify-end items-center mt-8;
      &_button {
        @apply flex cursor-pointer text-white px-4 py-2 h-fit w-44 rounded-lg justify-center font-bold mt-2;
        background: #0dcd8a;
        border: 2px solid #0dcd8a;
      }
    }
  }
}
